@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;900&display=swap');

:root {
  --grey: #b6b6b6;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  /* animation: onload 6s ease-in-out; */
  color: white;
  font-family: sans-serif;
  background-image: url('images/background.jpg');
  background-size: cover;
  background-position: center center;
  min-height: 100vh;
  font-family: 'Inter', sans-serif;
}
a {
  color: white;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
}
.central-container {
  text-align: center;
  width: 100%;
  padding: 20px;

  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.bottom-container {
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: 92px;
  padding: 0 1rem;
}
.logo {
  height: 12vw;
}
h2 {
  font-size: 3.75rem;
  font-weight: 400;
  transform: translateY(-30%);
}
h3 {
  font-size: 1.5rem;
  font-weight: 400;
}

#email-form {
  margin-bottom: 1.5rem;
}
.email {
  min-width: 550px;
}
input:focus {
  outline: none !important;
}
input, button {
  font-size: 2rem;
  border-radius: 25px;
  padding: 8px 28px;
  border: none;
  background-color: white;
}
input[type=submit] {
  cursor: pointer;
  color: var(--grey);
  margin-left: 1rem;
  transition: 0.3s color;
}
input[type=submit]:hover {
  color: black;
  transition: 0.3s color;
}
input::placeholder {
  color: var(--grey);
}

@media only screen and (max-width: 1080px) {
  h2 {
    font-size: 2.5rem;
  }
  input, button {
    font-size: 1.5rem;
  }
  .email {
    min-width: 400px;
  }
}
@media only screen and (max-width: 768px) {
  h2 {
    transform: none;
    font-size: 1.5rem;
  }
  h3 {
    font-size: 1rem;
  }
  input, button {
    font-size: 1.25rem;
    padding: 8px 18px;
  }
  input[type=submit] {
    margin-left: 8px;
  }
  .email {
    min-width: 220px;
  }
  .bottom-container {
    padding: 0 .5rem;
  }
}
@media only screen and (max-width: 400px) {
  h2 {
    font-size: 1.5rem;
  }
  .email, input[type=submit] {
    display: block;
    width: 100%;
  }
  .email {
    margin-bottom: 0.5rem;
    text-align: center;
  }
  input[type=submit] {
    margin: 0;
  }
}

@keyframes onload {
  from {
    backdrop-filter: saturate(0%);
  }
  to {
    backdrop-filter: saturate(100%);
  }
}